<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0">
  <display-name>Restaurant</display-name>
  <servlet>
  	<servlet-name>NoodlesServlet</servlet-name>
  	<display-name>NoodlesServlet</display-name>
  	<description></description>
  	<servlet-class>com.netease.NoodlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NoodlesServlet</servlet-name>
  	<url-pattern>/NoodlesServlet</url-pattern>
  </servlet-mapping>
</web-app>
